:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #f6f0f0;
  --secundary-color: #748e71;
  --hoover-btn: #637c60;
}

body {
  background-color: var(--primary-color);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  gap: 8em;
}

.card-btn {
  width: 250px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--secundary-color);
  color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
  box-shadow: -4px 10px 23px 4px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: -4px 10px 23px 4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: -4px 10px 23px 4px rgba(0, 0, 0, 0.47);
}

.card-btn:hover {
  background-color: var(--hoover-btn);
  cursor: pointer;
}
